.saved-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: calc(100% - 140px);
    padding-bottom: 30px;
    margin-bottom: 140px;
}

@media screen and (max-width: 900px) {
    .saved-movies {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 500px) {
    .saved-movies {
        width: calc(100% - 20px);
    }
}