.about-me {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    padding: 110px 70px 106px;
    box-sizing: border-box;
}

.about-me__profile {
    width: 100%;
    margin: 66px 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me__info {
    max-width: 600px;
    position: relative;
}

.about-me__name {
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0 0 18px;
    padding: 0;
}

.about-me__bio {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    margin: 0;
}

.about-me__addition {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
    margin: 26px 0 0;
}

.about-me__picture {
    height: 327px;
    width: 270px;
    background-image: url("../../images/me.jpg");
    background-size: cover;
    border-radius: 10px;
}

.about-me__links {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.about-me__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.about-me__link:first-child {
    margin-right: 20px;
    line-height: 1.2;
}

.about-me__link:hover {
    opacity: 0.7;
}